.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about {
  margin-top: 10000px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  
}

